@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #000;
    .title-h1{
        color: yellow;
        position: absolute;
        top: 10%;
        left: 35%;
        right: 35%;
        z-index: 2;
    
    }
}
.container-fluid{
    padding: 0%;
   
}
    .carousel-bar .carousel-item{
        display: flex;
        max-height: 500px;
        // position: relative;
        img{
        object-fit: cover;
        }
    }
