@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #000;
}
.name-logo {
    text-transform:uppercase ;
}
.container-fluid{
    padding: 0%;
   
}
.main-menu{
    display: flex;
    max-height: 500px;
    
    img{
        object-fit: cover;
        }
}
    .carousel-bar .carousel-item{
        display: flex;
        max-height: 500px;
        img{
        object-fit: cover;
        }
    }
.main-name {
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    letter-spacing: 20px;
    margin-top: 20px;
   }
   
            .news{
                margin-top: 70px;
                border: solid 1px white;
                padding: 5px;
                   
                h3:after {
                    content: '';
                    display: block;
                    height: 1px;
                    background: #fff;
                    width: 150px;
                    margin-top: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }
                
            }
  
    .article-text{
      margin-top: 100px;
    
      .article-text-item{
           margin-top: 100px;
           border: solid 1px white;
           padding: 5px;
           border-radius: 10px;
        }
    }